*{
    box-sizing: border-box; 
    margin: 0px;
    padding: 0px;
    
}

/*
    .img {
    margin: 0;
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*/

html {
    margin: 0;
    font-size: 62.5%; /*para tener el control de "rem =10px"*/
    font-family: 'Quicksand', sans-serif;    
    border: 5px solid greenyellow;
}

body {
    background-color: gray;
    margin: 0;
    min-height: 100vh;
    min-width: 320px;
    background-image: url("/images/car-test2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    font-size: 18px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header div > h2 {   
    color: lavenderblush;
    font-size: 1.7rem;
    text-align: center;
    border: 5px solid whitesmoke;
    margin: 0 auto;
    width: 80%; /*ancho*/
    padding: 3px;
}


.menus {
    
    color: white;
    text-align: left;   /*formato de letra*/
    border: 3px solid red;
    width: 100%; /*para el ancho*/ 
    height: 100%;
    padding: 0.5rem;
    display: grid;
}


.menu1 {
    border: 2px solid greenyellow;
    padding: 3px;    
    max-height: 160px;
    max-width: 200px;
}

.menu2 {
    border: 2px solid greenyellow;
    padding: 0px 3px;       
    max-height: 160px;
    max-width: 200px;
}

/*titulos exterior - interior*/
.titles {
    font-size: 2rem;
    padding: 0;
    margin-bottom: 5px;
    border: solid 2px #eee; 
}

/* listas ul */
.exterior, .interior {
    padding: 0; 
    border: 2px solid pink;
    width: 100%;
    margin-bottom:3px;
}

.menu1 li, .menu2 li {
    font-size: 1.2rem;
    padding: 5px 5px; 
    border: 2px solid yellow; 
    margin: 5px;
    list-style: none;
}

.centro {
    width: 100%;
    height: 100%;
    border: 3px solid blue;
         
}

.formulario {     
    padding: 0.1em;
    color: whitesmoke;
    width: 100%;
    height: 100%;
    min-width: 210px;
    min-height: 320px;
}


.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3); 
}

.contact-wrapper > * {
    padding: 0.5em;
}

.contact-form {
    background: #222222;
}

.contact-form form {
    margin: 0;
    padding: 2em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: 3px;
    background: none;
    border: none;
    outline: 0;
    color: #ffffff;
    border-bottom: 2px solid #d63031;
}

.contact-info {
    background: black;
}

footer {    
    color: white;
    border: 2px solid white;
}

