*{
    margin: 0px;
    padding: 0px;
}
    
body {
    margin: 0px;
    background-image: url("/images/car1.jpg");
    background-color: gray;
    background-size: cover;
    width: 100%;
        
}



.logo {   
    color: white;  /*Canbiar el color de las letras(fuentes)*/
    font-family: cursive; /*tipos de fuentes*/
    text-align: center;
    border: 2px solid #eee;
    width: 50%; /*ancho*/
    
    margin: 25px 100px 25px 300px;

}

.menus {
    color: white;
    text-align: left;   /*formato de letra*/
    border: 2px solid white;
    width: 280px; /*para el ancho*/
        /*margenes*/
    margin-top: 50px;
    margin-left: 25px;  /*margen izquierdo*/
    margin-bottom: 25px; /*marjen debajo*/ 
    padding: 10px;
}

.menu1 {
    border: solid 2px #eee;
    padding:10px 5px 10px 5px ;
    margin-bottom: 10px;
    
}

.menu2 {
    border: solid 2px #eee;
    padding:10px 5px 10px 5px ;
    
}

.menu1 h1, .menu2 h1 {
    font-size: 25px;
    padding: 15px;
    margin-bottom: 10px;
}



.exterior, .interior {  /*cuadro d´items*/
    padding: 0px;    /*ESPACIO INTERNO*/
    border: 2px solid blueviolet;
    background-color: blue;   /*Fondo*/
    /* margin-block-start: -25px;    ceparacion del titulo (mmargen de arriba)    */
    margin-top: -10%;

}

.menu1 li, .menu2 li {   /*items*/
    background: whitesmoke;
    color: rgb(12, 68, 173);
    padding: 3px;   /*ESPACIO INTERNO*/
    border: 2px solid pink;  /*estoy utilizando como marjen*/
    margin: 5px;
    margin-left: 3px; 
    margin-right: 40%;
    display: block;  /*ELIMINA LOS PUNTOS POR DEFECTO*/

}


.foster, .a {
    
    color: white;
    border: 2px solid white;
    
}